/* remove webkit object highlight */
*{
  outline:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color:transparent;}

/* scrollbar */
::-webkit-scrollbar{width:6px;}
::-webkit-scrollbar-track{background-color:transparent;}
::-webkit-scrollbar-thumb{border-radius:6px;}

html,
body{
  overflow:hidden;
  position:relative;
  margin:0;
  padding:0;
  width:100%;
  height:100%;}

body{
  font-family:Arial,sans-serif;
  font-size:13px;
  color:rgb(50,50,50);
  background-color:#3d4552;}

#app{
  -webkit-user-select:none;
  user-select:none;
  overflow-x:hidden;
  overflow-y:scroll;
  scrollbar-gutter:stable both-edges;
  height:100%;}

#app::-webkit-scrollbar-thumb{
  background-color:rgb(145,145,145);}

.wrap{
  margin-top:20px;
  margin-bottom:20px;
  box-sizing:border-box;}

/* viewer */
.viewer{
  max-width:800px;
  margin:auto;
  position:relative;}

.viewer.fullWindow{
  -webkit-user-select:none;
  user-select:none;
  position:fixed;
  width:100%!important;
  height:100%!important;
  max-width:100%!important;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:1;
  background-color:rgb(0,0,0);}

.viewer.fullWindow .imagesView{
  height:100%!important;
  max-height:100%!important;
  max-width:100%!important;}

.imagesView{
  overflow:hidden;
  position:relative;}

.imagesContainer{
  position:relative;
  aspect-ratio:16/9;
  overflow:hidden;
  box-sizing:border-box;
  width:100%;}

.viewer.fullWindow .imagesContainer{
  top:50%;
  left:50%;
  transform:translate3d(-50%,-50%,0);
  max-width:calc(100% - 80px);
  max-height:calc(100% - 100px);
}

.images{
  display:none;
  position:absolute;
  top:0;
  width:100%;
  height:100%;}

.images[data-current='1']{display:block;}

.images span{
  position:absolute;
  color:rgb(255,255,255);
  top:50%;
  left:50%;
  transform:translate3d(-50%,-50%,0);}

.images img{
  position:absolute;
  opacity:0;
  transition-duration:0.5s;
  pointer-events:none;
  border-radius:5px;
  max-width:100%;
  max-height:100%;
  top:50%;
  left:50%;
  transform:translate3d(-50%,-50%,0);}

.images[data-current='1'] img{opacity:1;}

/* thumbs */
.viewer.fullWindow .thumbsView{
  display:none!important;
  margin-top:10px!important;}

.thumbsView{
  margin-top:10px;
  position:relative;
  gap:2px;
  flex-wrap:wrap;
  display:inline-flex;
  justify-content:center;}

.thumbs{
  background-color:rgba(0,0,0,0.1);
  border-radius:5px;
  position:relative;
  overflow:hidden;
  min-width:80px;
  flex-basis:80px;
  height:45px;}

.thumbs:after{
  cursor:pointer;
  position:absolute;
  box-sizing:border-box;
  border-radius:inherit;
  top:0;
  left:0;
  right:0;
  bottom:0;
  content:'';
  width:100%;
  height:100%;}

.thumbs[data-current='1']:after{
  cursor:default;
  border:2px solid #00afea;
  background-color:rgba(255,255,255,0.1);}

.thumbs span{
  color:rgb(255,255,255);
  position:absolute;
  top:50%;
  left:50%;
  transform:translate3d(-50%,-50%,0);}

.thumbs img{
  opacity:0;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  transform:translate3d(0,0,0);
  pointer-events:none;
  height:auto;
  width:100%;}

@keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
}

/* svg icons */
.icon{
  position:absolute;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:2;
  stroke:rgb(255,255,255);
  fill:none;}

/* navigation */
.navigation{
  position:absolute;
  top:0;
  width:100%;
  height:100%;}

.navigation .icon{
  opacity:0.25;
  transition:all 0.25s;
  pointer-events:none;
  width:30px;
  height:30px;}

.navigation .prev .icon{
  top:50%;
  left:10px;
  transform:translate3d(0,-50%,0);}

.navigation .next .icon{
  top:50%;
  right:10px;
  transform:translate3d(0,-50%,0);}

.prev,
.next{
  position:absolute;
  cursor:pointer;
  content:'';
  top:0;
  width:50%;
  height:100%;}

.prev{left:0;}
.next{right:0;}

@media (hover: hover){
  .navigation .prev .icon{left:-30px;}
  .navigation .next .icon{right:-30px;}
  .navigation .prev:hover .icon,
  .navigation .next:hover .icon{opacity:1;}
  .navigation:hover .prev .icon{left:10px;}
  .navigation:hover .next .icon{right:10px;}
}

/* helper */
.helper{
  transition:top 0.25s;
  font-size:110%;
  display:flex;
  top:0;
  position:absolute;
  width:100%;
  line-height:30px;
  margin:10px 0;
  height:30px;}

@media (hover: hover){
  .helper{top:-60px;}
  .imagesView:hover .helper{top:0;}
}

.helperLeft{flex-grow:1;}

.counter{
  margin-left:10px;
  padding-left:10px;
  padding-right:10px;
  pointer-events:none;
  opacity:0.6;
  text-align:center;
  border-radius:5px;
  background-color:rgba(0,0,0,0.5);
  color:rgb(255,255,255);
  display:inline-block;}

.helper .button{
  margin-right:10px;
  cursor:pointer;
  color:#ffffff;
  opacity:0.6;
  position:relative;
  display:inline-flex;
  transition:all 0.25s;
  border-radius:5px;
  background-color:rgba(0,0,0,0.5);
  height:30px;}

.helper .button .icon{
  top:50%;
  left:50%;
  transform:translate3d(-50%,-50%,0);
  width:20px;
  height:20px;}

.helper .button .svg{
  position:relative;
  flex-basis:30px;
  min-width:30px;}

.helper .button .text{
  padding-right:7px;}

.viewer.fullWindow .fullWindowOpen,
.viewer .fullWindowClose{display:none;}

.viewer.fullWindow .fullWindowClose{display:inline-flex;}

@media (max-width:480px){
  .helper .button .text{
  display:none;}
}

@media (hover: hover){
  .helper .button:hover{opacity:1;}
}

/* loader */
.loader{
  position:absolute;
  top:0;
  width:100%;
  height:100%;}

.loader:after{
  content:'';
  top:calc(50% - 10px);
  left:calc(50% - 10px);
  position:absolute;
  border-radius:50%;
  border-top:1px solid rgba(255,255,255,0.25);
  border-right:1px solid rgba(255,255,255,0.25);
  border-bottom:1px solid rgba(255,255,255,0.25);
  width:20px;
  height:20px;
  animation:rotate 0.5s linear infinite;}

@keyframes rotate{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
